div,
#leftbox,
#staging,
#rightbox {
	float: left;
	margin-right: 50px;
}

.info {
	display: block;
}

div#control {
	float: none;
}

#leftbox {
	border: 1px solid teal;
}
#staging {
	border: 1px solid orange;
}
#rightbox {
	border: 1px solid purple;
}

